body {
  background-color: #eff3f4;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin:0;
}
nav{
	background: white;
	color: gainsboro;
	font-weight: bold;
	font-size: 35px;
}

.log{
	 float:right;
    border: none;
	background:#0f4159;
	margin-top:10px;
	padding:5px 15px;
	font-weight:bold;
	color:white;
	font-size:27px;
	font-family:Times New Roman;
 }
 .log:hover{
	background:white;
	color:#0f4159;
 }
 header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
}

 #main{
	background:url("https://goo.gl/ZUsNrS");
	background-size: 1500px 600px;
	background-repeat: repeat;
	/*background:steelBlue;*/
	width:100%;
	text-align:center;
 }
